<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
  </system.web>
  <system.webServer>
    <handlers>
      
      <add name="OWIN.JSON" path="*.json" verb="*" type="Microsoft.Owin.Host.SystemWeb.OwinHttpHandler" />
      <add name="OWIN.XML" path="*.xml" verb="*" type="Microsoft.Owin.Host.SystemWeb.OwinHttpHandler" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />


    </handlers>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="UrlRoutingModule-4.0" />
      <add name="UrlRoutingModule-4.0" type="System.Web.Routing.UrlRoutingModule" preCondition="" />
      <!-- HTTP module ATFAuthenticationModule is replaced with message handler-->
      <!--<add type="EY.ATF.Common.Security.Authentication.ATFAuthenticationModule, EY.ATF.Common.Security.Authentication" name="ATFAuthenticationModule"/>-->
      <!--<add type="EY.ATF.Universal.Services.Facade.ATFSecurityModule, EY.ATF.Universal.Services.Facade" name="ATFSecurityModule"/>-->
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <!--
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>    
   -->
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
     
     
    </assemblyBinding>
  </runtime>
</configuration>